# The analysis of the relationship between the SAT score and economic status.

Using datasets from NYC open data, I will analyze the relationship between the SAT score and students' ecomonic status. I hypothesize that a SAT score is positively associated with the student's economic situation.

First, I will use the 2012 SAT results data from NYC open data, which is the latest available from this source. I understand that the 2012 data might sound a bit out of date, but the goal of this project is to show the correlation between two data sets and not to analyze the latest trends. I beleive the relationship found in the 2012 data is still valid today. Therefore, I will proceed with my analyze by utilizing this data.

In [11]:
import pandas as pd

# import first data set.
sat_score = pd.read_csv("https://data.cityofnewyork.us/resource/f9bf-2cp4.csv")
sat_score

,dbn,school_name,num_of_sat_test_takers,sat_critical_reading_avg_score,sat_math_avg_score,sat_writing_avg_score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384
...,...,...,...,...,...,...
473,75X012,P.S. X012 LEWIS AND CLARK SCHOOL,s,s,s,s
474,75X754,J. M. RAPPORT SCHOOL CAREER DEVELOPMENT,s,s,s,s
475,79M645,SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION,s,s,s,s
476,79Q950,GED PLUS s CITYWIDE,8,496,400,426
477,79X490,PHOENIX ACADEMY,9,367,370,360

In [12]:
sat_score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 6 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   dbn                             478 non-null    object
 1   school_name                     478 non-null    object
 2   num_of_sat_test_takers          478 non-null    object
 3   sat_critical_reading_avg_score  478 non-null    object
 4   sat_math_avg_score              478 non-null    object
 5   sat_writing_avg_score           478 non-null    object
dtypes: object(6)
memory usage: 22.5+ KB

In [13]:
# clean the data
change_columns = ["sat_critical_reading_avg_score", "sat_math_avg_score", "sat_writing_avg_score"]
for columns in change_columns:
    sat_score[columns] = pd.to_numeric(sat_score[columns], errors="coerce")

sat_score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 6 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   dbn                             478 non-null    object
 1   school_name                     478 non-null    object
 2   num_of_sat_test_takers          478 non-null    object
 3   sat_critical_reading_avg_score  421 non-null    float64
 4   sat_math_avg_score              421 non-null    float64
 5   sat_writing_avg_score           421 non-null    float64
dtypes: float64(3), object(3)
memory usage: 22.5+ KB

In [14]:
# sum up all three scores
sat_score["sat_total_score"] = sat_score["sat_critical_reading_avg_score"] + sat_score["sat_math_avg_score"] + sat_score["sat_writing_avg_score"]
#remove NaN
sat_score_cleaned = sat_score.dropna(subset=["sat_total_score"])
sat_score_cleaned

,dbn,school_name,num_of_sat_test_takers,sat_critical_reading_avg_score,sat_math_avg_score,sat_writing_avg_score,sat_total_score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383.0,423.0,366.0,1172.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0
3,01M458,FORSYTH SATELLITE ACADEMY,7,414.0,401.0,359.0,1174.0
4,01M509,MARTA VALLE HIGH SCHOOL,44,390.0,433.0,384.0,1207.0
...,...,...,...,...,...,...,...
466,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...,23,347.0,358.0,350.0,1055.0
467,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,24,359.0,317.0,358.0,1034.0
471,75Q811,P.S. Q811,32,429.0,444.0,433.0,1306.0
476,79Q950,GED PLUS s CITYWIDE,8,496.0,400.0,426.0,1322.0
477,79X490,PHOENIX ACADEMY,9,367.0,370.0,360.0,1097.0

Next, I will import the new data set, which is "2006 - 2012 School Demographics and Accountability Snapshot" data. From this data, I will look at data in column frl_percent for the 2011-2012 schoolyear, showing the percentage of students who recive free and reduced lunch. This metric serves as a proxy for the economic status of student body.

In [15]:
economic_data = pd.read_csv("https://data.cityofnewyork.us/resource/ihfw-zy9j.csv")
economic_data

,dbn,name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,89.4,NaN,281,15,36,40,33,...,74,26.3,189,67.3,5,1.8,158.0,56.2,123.0,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,89.4,NaN,243,15,29,39,38,...,68,28.0,153,63.0,4,1.6,140.0,57.6,103.0,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,89.4,NaN,261,18,43,39,36,...,77,29.5,157,60.2,7,2.7,143.0,54.8,118.0,45.2
3,01M015,P.S. 015 ROBERTO CLEMENTE,20082009,89.4,NaN,252,17,37,44,32,...,75,29.8,149,59.1,7,2.8,149.0,59.1,103.0,40.9
4,01M015,P.S. 015 ROBERTO CLEMENTE,20092010,,96.5,208,16,40,28,32,...,67,32.2,118,56.7,6,2.9,124.0,59.6,84.0,40.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,03M166,PS 166 THE RICHARD ROGERS SCHOOL OF THE ARTS AND,20112012,NaN,31.3,606,,101,100,105,...,73,12.0,147,24.3,318,52.5,292.0,48.2,314.0,51.8
996,03M180,PS 180 HUGO NEWMAN,20052006,82.7,NaN,462,61,69,77,71,...,347,75.1,109,23.6,5,1.1,231.0,50.0,231.0,50.0
997,03M180,PS 180 HUGO NEWMAN,20062007,82.7,NaN,509,65,79,79,77,...,391,76.8,108,21.2,6,1.2,248.0,48.7,261.0,51.3
998,03M180,PS 180 HUGO NEWMAN,20072008,74,NaN,574,71,78,83,81,...,430,74.9,127,22.1,9,1.6,271.0,47.2,303.0,52.8
999,03M180,PS 180 HUGO NEWMAN,20082009,81.9,NaN,601,72,79,85,79,...,455,75.7,128,21.3,10,1.7,279.0,46.4,322.0,53.6

In [16]:
# focus on the data for the 2011-2012 school year
economic_data_2012 = economic_data[economic_data["schoolyear"] == 20112012]
economic_data_2012

,dbn,name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
6,01M015,P.S. 015 ROBERTO CLEMENTE,20112012,NaN,89.4,189,13,31,35,28,...,63,33.3,109,57.7,4,2.1,97.0,51.3,92.0,48.7
13,01M019,P.S. 019 ASHER LEVY,20112012,NaN,61.5,328,32,46,52,54,...,81,24.7,158,48.2,28,8.5,147.0,44.8,181.0,55.2
20,01M020,PS 020 ANNA SILVER,20112012,NaN,92.5,626,52,102,121,87,...,55,8.8,357,57.0,16,2.6,330.0,52.7,296.0,47.3
27,01M034,PS 034 FRANKLIN D ROOSEVELT,20112012,NaN,99.7,401,14,34,38,36,...,90,22.4,275,68.6,8,2.0,204.0,50.9,197.0,49.1
35,01M063,PS 063 WILLIAM MCKINLEY,20112012,NaN,78.9,176,18,20,30,21,...,41,23.3,110,62.5,15,8.5,97.0,55.1,79.0,44.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966,03M145,PS 145 BLOOMINGDALE SCHOOL,20112012,NaN,75.8,445,54,57,59,60,...,123,27.6,283,63.6,27,6.1,204.0,45.8,241.0,54.2
973,03M149,PS 149 SOJOURNER TRUTH,20112012,NaN,77.5,383,36,28,56,49,...,240,62.7,98,25.6,3,0.8,190.0,49.6,193.0,50.4
980,03M163,PS 163 ALFRED E SMITH,20112012,NaN,47.7,636,16,100,116,126,...,138,21.7,292,45.9,160,25.2,330.0,51.9,306.0,48.1
987,03M165,PS 165 ROBERT E SIMON,20112012,NaN,73.7,826,18,110,88,98,...,132,16.0,592,71.7,64,7.7,440.0,53.3,386.0,46.7
995,03M166,PS 166 THE RICHARD ROGERS SCHOOL OF THE ARTS AND,20112012,NaN,31.3,606,,101,100,105,...,73,12.0,147,24.3,318,52.5,292.0,48.2,314.0,51.8

In [17]:
df_merge = pd.merge(sat_score_cleaned, economic_data_2012, on="dbn")
df_merge_sorted = df_merge[["sat_total_score","frl_percent"]]
df_merge_sorted = df_merge_sorted.rename(columns={"frl_percent":"the percentage of students who receive free or reduced lunch"})
df_merge_sorted

,sat_total_score,the percentage of students who receive free or reduced lunch
0,1122.0,88.6
1,1172.0,71.8
2,1149.0,71.8
3,1174.0,72.8
4,1207.0,80.7
...,...,...
62,1207.0,69.8
63,1108.0,81.1
64,1153.0,72.7
65,1315.0,53.3
66,1236.0,70.3

In [18]:
df_merge_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 2 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   sat_total_score                                               67 non-null     float64
 1   the percentage of students who receive free or reduced lunch  67 non-null     float64
dtypes: float64(2)
memory usage: 1.2 KB

In [19]:
import plotly.express as px
figure = px.scatter(df_merge_sorted,
                    x="the percentage of students who receive free or reduced lunch",
                    y="sat_total_score",
                    trendline="ols",
                    title="Relationship between economic status and SAT scores")
figure

From the visualization above, we can see the negative linear relationship between frl_percent and the SAT scores. Since frl_percentage shows the proportion of the students facing economic difficulties, this negative relationship supports my initial hypothesis. We can conclude that schools with a higher percentage of students from rich families tend to have higher average SAT scores.